@font-face {
  font-family: SpaceMono;
  src: url("../assets/fonts/SpaceMono-Bold.ttf");
}

*{
    padding: 0px;
    margin: 0px;

    --navbar-height: 4em;
    --navbar-margin-y: 15px;
    --navbar-margin-x: 10px;

    --color-1: #1b1c26;
    --color-2: #373737;
    --color-3: #65688c;
    --color-4: #898ebf;
    --color-5: #aeb3db;
    --color-6: #333a44;
    --color-6-opac: rgba(55,55,55,0.7);

    --ball-size: 3em;
    --ball-margin: 0.2em;

    --modal-br: 15px;
    font-family: SpaceMono;
}

body{
    background-color: var(--color-6);
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left {
    left: 0px;
}

.right {
    right: 0px;
}

#Rules p {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.modal span {
    padding: 5px;
}

.modal-header{
    display: flex;
    width:100%;
    background: var(--color-5);
    border-radius: var(--modal-br) var(--modal-br) 0 0;
    padding-bottom: 5px;
}

.close-btn{
    margin-left:auto;
}

.modal-body{
    padding: 10px 10px;
    width:100%;
    background: var(--color-4);
    flex-grow: 1;
    transform: translate(-9px,0px);
}

.modal-footer{
    width:100%;
    justify-content: end;
    display: flex;
    background: var(--color-5);
    border-radius: 0 0 var(--modal-br) var(--modal-br);
    padding-top: 10px;
    margin-top: auto;
}

.modal{
    display: none;
    position:absolute;
    left:50%;
    top:50%;
    min-width: 400px;
    transform: translate(-50%,-50%);
    z-index: 200;
    background: var(--color-5);
    border-radius: var(--modal-br);
    padding: 10px;
    flex-direction: column;
}

#ModalShadow{
    display: block;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    position:absolute;
    z-index: 199;
    background: var(--color-6-opac);
}


.section {
    --section-offset: calc(var(--navbar-height) + 3 * var(--navbar-margin-y));
    width: 100%;
    height: calc(100vh - var(--section-offset));
    padding-top: var(--section-offset);
    display: none;
    position: relative;
    font-size: 18px;
}

.btn, button {
    background-color: var(--color-3);
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 11px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    margin-left: 20px;
}

.btn:hover, button:hover {
    background-color: var(--color-4);
    border-radius: 12px;
}


