#ClassTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

#ClassTable td, #ClassTable th {
  border: 1px solid #ddd;
  padding: 7px;
}

#ClassTable tr:nth-child(even){
    background-color: var(--color-4);
}

#ClassTable tr:hover {
    background-color: var(--color-3);
}

#ClassTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--color-5);
  color: white;
}
