*{
    padding: 0px;
    margin: 0px;

    --navbar-height: 4em;
    --navbar-margin-y: 15px;
    --navbar-margin-x: 10px;

    --color-1: #1b1c26;
    --color-2: #373737;
    --color-3: #65688c;
    --color-4: #898ebf;
    --color-5: #aeb3db;
    --color-6: #333a44;
}
body{
    background-color: var(--color-6);
    color: white;
}

.hovered-ball {
    width: 4em;
    height: 4em;
    border-radius: 4em;
    margin: 0 0.2em;
    background: var(--color-6);
    list-style-type: none;
}
.hovered-coll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 75px;
    border-radius: 30px;
    margin: 20px 0;
    background: var(--color-4)
}
.ball{
    list-style-type: none;
    width: 4em;
    height: 4em;
    border-radius: 4em;
    background: var(--color-5);
    margin: 0 0.2em;
}
.coll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 75px;
    border-radius: 30px;
    margin: 20px 0;
}

.navbar {
    position: fixed;
    background-color: var(--color-5);
    height: var(--navbar-height);
    margin: var(--navbar-margin-y) var(--navbar-margin-x);
    border-radius: 30px;
    width: calc(100% - 2*var(--navbar-margin-x));
    text-align: center;
    display: flex;
    z-index: 2048;
}
.navbar-container{
    position:absolute;
    display: flex;
    top:50%;
    transform: translate(0%, -50%);
    margin: 0px 15px;
}
.navbar-container a, .navbar-container p {
    color: var(--color-1);
    cursor: pointer;
    margin: auto;
    padding-left: 10px;
    font-size: 18px;
    padding-right: 10px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}

.section {
    --section-offset: calc(var(--navbar-height) + 3 * var(--navbar-margin-y));
    width: 100%;
    height: calc(100vh - var(--section-offset));
    padding-top: var(--section-offset);
    display: none;
    position: relative;
    font-size: 18px;
}

.btn {
    background-color: var(--color-3);
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 11px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    margin-left: 20px;
}
.btn:hover {
    background-color: var(--color-4);
    border-radius: 12px;
}

#loginForm {
    line-height : 30px;
}
#loginForm input {
    height: 20px;
    margin: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Logo img{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
#logoBtn{
    font-size:25px;
    line-height: 30px;
}
.navbar-logo{
    width: 100px;
    height: 50px;
}
.logoFigure  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messages-wrapper{
    position: absolute;
    right:0px;
    bottom:0px;
    width: 350px;
    height: 220px;
    background-color: var(--color-3);
    border-radius: 15px;
    margin: var(--navbar-margin-y) var(--navbar-margin-x);
}
#Messages{
    margin: var(--navbar-margin-y) var(--navbar-margin-x);
    position:absolute;
    overflow-y: scroll;
    bottom: 25px;
    height: calc(100% - 2*var(--navbar-margin-y) - 20px);
    width: calc(100% - 2*var(--navbar-margin-x));
}
#messageInput{
    border: 0px;
    margin:calc(var(--navbar-margin-y)*0.6) var(--navbar-margin-x);
    padding-left: 10px;
    position:absolute;
    bottom:0px;
    background-color: var(--color-5);
    width: calc(100% - 3*var(--navbar-margin-x));
    border-radius: 15px;
    line-height: 20px;
}
